@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  line-height: 1.8;
  color: #f5f6f7;
}

p {
  font-size: 16px;
}

.bg-1 { 
  color: #ffffff;
}

.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}

.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}

.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}

.bg-5 {
    background-color: #7a6586; /* Lavender */
    color: #ffffff;
}

.container-fluid {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Navigation Stuff ******************************************************************************/
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 20px;
  letter-spacing: 5px;
  background-color: lightgray;
}

.navbar-nav li a:hover, .navbar-brand:hover {
  color: #5a2e3e !important;
  font-weight: bold;
}



/* Header Stuff ************************************************************************************/

.picture {
  float: left; 
  margin: auto;
  margin-left: 75px;
}

.picture svg {
  width: 500px;
  height: 100%;
}

.info h1 {
  font-size: 70px;
  font-weight: bold;
}

.info h3 {
  font-size: 30px;
}

.info p {
  font-size: 25px;
}

.header-text {
  display: inline-block;
  margin-left: 30px;
  padding: 20px;
  width: 60%;
}

.particles {
  background-color: #374653;
  height: 100%;
  width: 100%;
  position: absolute;
}

#header-content {
  position: absolute;
  margin: 100px;
  width: 90%;
}

.header-msg {
  font-size: 300px;
}

.intro {
  text-align: center;
  margin: auto;
  padding: 5px;
  background-color: rgb(211,211,211, 0.6);
}

.intro p {
  font-size: 25px;
}

@media (max-width: 600px) {  /* THIS IS SO THE CONTENT LOOKS PRESENTABLE ON A MOBILE DEVICE*/

  #header-content {
    margin: auto;
    width: 100%;
  }
  
  .header-msg{
    font-size: 70px;
    width: 50%;
    padding-bottom: 10px;
    margin: auto;
  }

  .header-text {
    margin-left: 0px;
    padding: 0;
    width: 95%;
  }

  .picture {
    margin: auto;
    margin-left: 0;
    width: 100%;
  }

  .picture svg {
    width: 350px;
    height: 100%;
  }

  .info h1 {
    font-size: 50px;
  }
  
  .info h3 {
    font-size: 25px;
  }
  
  .info p {
    font-size: 20px;
  }

  .intro p {
    margin: auto;
    font-size: 15px;
  }
}

/* ALL THIS BELOW WILL BE LOOKED AT LATER */
/* @media (max-width: 1791) {  
  .header-msg{
    font-size: 150px
  }

  .picture {
    width: 350px;
    margin-left: 0px
  }
  
  .intro p {
    width: 50%;
  }

  svg {
    width: 400;
  }
}

@media (max-width: 1493px) {
  .header-msg{
    font-size: 175px
  }
}

@media (max-width: 1369px) {
  .header-msg{
    font-size: 150px
  }
}

@media (max-width: 1236px) {
  .header-msg{
    font-size: 125px
  }

  .picture {
    margin-left: 0px;
  }
}

@media (max-width: 1106px) {
  .picture {
    margin: 0 auto;
    width: 100%;
  }

  .header-stuff {
    align-items: center;
  }
}

@media (max-width: 850px) {
  .header-msg{
    font-size: 100px
  }
} */


/* Page Content ***************************************************************************************/
.item h4{
  font-size: 30px; 
  margin-bottom: 30px;
}


.row {
  color: black;
  font-size: 30px;
}

.hobbies p, .skills p, .text-center {
  font-size: 25px;
}

.my-story {
  display: inline-block;
  width: 70%;
  margin: auto;
}

.my-story p {
  font-size: 23px;
  text-align: justify;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;
}

.col-md-4 {
  display: inline-block;
  width: 100%;
  margin: auto;
  color: black;
  text-decoration: none;
}

.col-sm-4 ul li {

  color: black;
  margin-right: 35px;
  text-decoration: none;
}

.col-md-4 p {
  color: black;
  font-size: 25px;
}

.col-md-4 a:link, 
.col-md-4 a:visited, 
.col-sm-4 a:link, 
.col-sm-4 a:visited{
    color: black;
}

.col-md-4 a:hover, 
.col-sm-4 a:hover {
  color: #5a2e3e !important;
  font-weight: bold;
  text-decoration: none;
}

#about {
  overflow: hidden;
}
