@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

p {
  font-size: 16px;
}

.bg-1 { 
  background-color: #7a6586; /* Lavender */
  color: #ffffff;
}

.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}

.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}

.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}

.container-fluid {
  padding-top: 25px;
  padding-bottom: 25px;
}

.picture {
  float: left; 
  margin: auto;
  margin-left: 100px;
}

.info h1 {
  font-size: 50px;
}

.info p {
  font-size: 20px;
}

.header-stuff {
  display: inline-block;
  /* margin-top: 40px; */
}

.header-msg {
  font-size: 250px;
}

.item h4{
  font-size: 30px; 
  margin-bottom: 30px;
}

@media (max-width: 1493px) {
  .header-msg{
    font-size: 175px
  }
}

@media (max-width: 1369px) {
  .header-msg{
    font-size: 150px
  }
}

@media (max-width: 1236px) {
  .header-msg{
    font-size: 125px
  }

  .picture {
    margin-left: 0px;
  }
}

@media (max-width: 1106px) {
  .picture {
    margin: 0 auto;
    width: 100%;
  }

  .header-stuff {
    align-items: center;
  }
}

@media (max-width: 850px) {
  .header-msg{
    font-size: 100px
  }
}

@media (max-width: 600px) {
  .header-msg{
    font-size: 90px
  }
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 5px;
  background-color: lightgray;
}

.navbar-nav li a:hover, .navbar-brand:hover {
  color: #5a2e3e !important;
  font-weight: bold;
}

@media (max-width: 600px) {
  #myCarousel {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

.row {
  color: black;
  font-size: 30px;
}

.intro p {
  font-size: 25px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}

.text-center em {
  font-size: 25px;
}

.col-md-4 {
  display: inline-block;
  width: 100%;
  margin: auto;
  color: black;
  text-decoration: none;
}

.col-md-4 p {
  color: black;
  font-size: 25px;
}

.col-md-4 a:link, .col-md-4 a:visited{
    color: black;
}

.col-md-4 a:hover {
  color: #5a2e3e !important;
  font-weight: bold;
}

.particles {
  background-color: #374653;
  border-top: 25px solid lightgray;
  border-bottom: 15px solid lightgray;
  height: 389px;
}